services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - sqlite_data:/prisma/dev.db

volumes:
  sqlite_data: